@model IEnumerable<Programowanie_Zaawansowane_Projekt.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Todo TaskList</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">AddTask</a>
</p>
<table class="table">
    <thead>
        <tr>
@*            <th>
                @Html.DisplayNameFor(model => model.TaskId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>*@
            <td>
                @Html.ActionLink("Done", "Done", new {id = item.TaskId}, new {@class="btn btn-outline-primary"})
                @Html.ActionLink("Edit", "Edit", new { id=item.TaskId  }, new {@class="btn btn-outline-primary"})
                @Html.ActionLink("Details", "Details", new {  id=item.TaskId  }, new {@class="btn btn-outline-primary"})
                @Html.ActionLink("Delete", "Delete", new {  id=item.TaskId }, new {@class="btn btn-outline-primary"})
            </td>
        </tr>
}
    </tbody>
</table>
